@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bannerHeader {
  border-bottom: solid 1px rgb(211, 203, 203);
}

@media screen and (max-width: 1000px) {
  .sub-list-menu {
    left: 0px !important;
    top: 7.5vh;
  }
}